<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-img class="back-arrow" src="assets/img/icono-para-atras.png" [routerLink]="['/tabs/inicio/servicio-detalle', datosRecibidos.serviceID]"> </ion-img>
      <ion-img class="logosepro" src="assets/img/logosepro.png"> </ion-img>
      <div class="line"></div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="main-c">
  <ion-grid class="main-grid">
    <ion-grid class="detail-head">
      <ion-row class="detail-name bold14">Solicitud de servicio</ion-row>
      <ion-row class="picture">
        <ion-img style="width: 100px; height: 100px;" [src]="'assets/img/' + datosRecibidos.serviceName + ' red.png'" *ngIf="datosRecibidos"></ion-img>
      </ion-row>
    </ion-grid>
    <ion-grid class="detail-grid">
      <ion-grid class="detail-name-grid">
        <ion-row class="medium12 subline">Servicio</ion-row>
        <ion-row class="medium12 secu">{{datosRecibidos.serviceName}}</ion-row>
      </ion-grid>
      <ion-grid class="detail-data-grid">
        <ion-grid class="amount-grid">
          <ion-row class="medium12 subline">Datos del servicio</ion-row>
          <ion-row class="medium12 amount-cont" *ngIf="total === 'pendiente'">Total: <span class="regular12">&nbsp;{{total}}</span></ion-row>
          <ng-container *ngIf="total !== 'pendiente'">
            <ion-row class="medium12 subt">Subtotal: <span class="regular12">{{subtotal}} dólares</span></ion-row>
            <ion-row class="medium12 dat">IVA: <span class="regular12">&nbsp;{{iva}} dólares</span></ion-row>
            <ion-row class="medium12 amount-cont">Total: <span class="regular12">&nbsp;{{total}} dólares</span></ion-row>
          </ng-container>
        </ion-grid>
        <ion-grid class="data-grid">
          <ion-row class="medium12 dat">Fecha de inicio: <span class="regular12">&nbsp;{{datosRecibidos.startDate}}</span></ion-row>
          <ion-row class="medium12 dat">Hora de inicio: <span class="regular12">&nbsp;{{datosRecibidos.startTime}}</span></ion-row>
          <ion-row class="medium12 dat" *ngIf="!datosRecibidos.requiresDestination">Fecha de finalización <span class="regular12">&nbsp;{{datosRecibidos.endDate}}</span></ion-row>
          <ion-row class="medium12 dat" *ngIf="!datosRecibidos.requiresDestination">Hora de finalización: <span class="regular12">&nbsp;{{datosRecibidos.endTime}}</span></ion-row>
          <ion-row class="medium12 dat" *ngIf="!datosRecibidos.requiresDestination">Duración: <span class="regular12">&nbsp;{{formattedDuration}}</span></ion-row>
          <ng-container *ngFor="let staff of datosRecibidos.staff; let i = index">
            <ion-row class="medium12 dat" *ngIf="datosRecibidos.staffIsOptional[i] && datosRecibidos.staffSelected[i]">{{staff}}: <span class="regular12">&nbsp;si</span></ion-row>
            <ion-row class="medium12 dat" *ngIf="datosRecibidos.staffIsOptional[i] && !datosRecibidos.staffSelected[i]">{{staff}}: <span class="regular12">&nbsp;no</span></ion-row>
          </ng-container>
          <ng-container *ngFor="let staff of datosRecibidos.staff; let i = index">
            <ion-row class="medium12 dat" *ngIf="datosRecibidos.staffNumberOptional[i]">Cantidad de {{staff}}: <span class="regular12">&nbsp;{{datosRecibidos.staffNumberRequired[i]}}</span></ion-row>
          </ng-container>
          <ng-container *ngFor="let equipment of datosRecibidos.equipment; let i = index">
            <ion-row class="medium12 dat" *ngIf="datosRecibidos.equipmentIsOptional[i] && datosRecibidos.equipmentSelected[i]">{{equipment}}: <span class="regular12">&nbsp;si</span></ion-row>
            <ion-row class="medium12 dat" *ngIf="datosRecibidos.equipmentIsOptional[i] && !datosRecibidos.equipmentSelected[i]">{{equipment}}: <span class="regular12">&nbsp;no</span></ion-row>
          </ng-container>
          <ion-row class="medium12 dat" *ngIf="!datosRecibidos.requiresDestination"><button type="button" (click)="verUbicacion()" class="map-btn"><ion-img src="assets/img/mapa.png" class="map-img"></ion-img></button></ion-row>
          <ion-row class="medium12 dat" *ngIf="datosRecibidos.requiresDestination"><button type="button" (click)="dibujarRuta()" class="map-btn"><ion-img src="assets/img/mapa.png" class="map-img"></ion-img></button></ion-row>
          <ion-row class="dat-btng"><button class="green-button"><span class="medium12" (click)="sendOrder()">Confirmar</span></button></ion-row>
          <ion-row class="dat-btnr"><button class="red-button"><span class="medium12" [routerLink]="['/tabs/inicio/servicio-detalle', datosRecibidos.serviceID]">Cancelar</span></button></ion-row>
        </ion-grid>
      </ion-grid>
    </ion-grid>
  </ion-grid>
</ion-content>