ion-grid.main-grid{
    width: 80%;
    height: 100%;
}

ion-row.header{
    height: 8%;
}

ion-grid.enter-email{
    position: relative;
    height: 44%;
    background-color: white;
    border: 0.1px solid rgb(189, 189, 189);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    margin-bottom: 4%;
    padding: 6% 6%;
}

ion-grid.enter-password{
    position: relative;
    height: 44%;
    background-color: white;
    border: 0.1px solid rgb(189, 189, 189);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    padding: 6% 6%;
}

.no-margin-top {
    margin-top: 2px !important;
}

ion-row.title-email{
    height: 10%;
    display: flex;
    align-items: center;
}

ion-row.body-email{
    height: 27%;
    margin-top: 2%;
    color: rgb(161, 161, 161);
}

.input{
    margin-top: 4%;
    height: 15%;
}

/*ion-item{
    border-radius: 2px ;
      --border-color: #3a75af;
        --ion-background-color: #e1e1e1;
        width: 100%;
        height: 70%;
  }*/
form{
    width: 100%;
}

.input-e{
    position: relative;
    height: 35px;
    background-color: rgb(231, 231, 231);
}

.btn-div{
    position: absolute;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 12px;
    right: 0px;
    left: 0px;
}

.change{
    position: absolute;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 12px;
    right: 0px;
    left: 0px;
}

.error-message{
    color: rgb(172, 0, 0);
}

.email-icon{
    width: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.code2{
    position: relative ;
    height: 30%;
    margin-top: 5vw;
    //margin-bottom: 10px;
}
.code1{
    height: 30%;
    margin-top: 5vw;
    margin-bottom: 10px;
}

.eye-ic{
    font-size: 25px;
    position: absolute;
    right: 8px;
    top: 5px;
    color: rgb(155, 155, 155);
    z-index: 100;
}


