<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-img class="back-arrow" src="assets/img/icono-para-atras.png" routerLink="/login"> </ion-img>
      <ion-img class="logosepro" src="assets/img/logosepro.png"> </ion-img>
      <div class="line"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="main-grid">
    <ion-row class="header bold16">Recuperar contraseña</ion-row>
    <ion-grid class="enter-email">
      <ion-row class="title-email medium12">Ingresa tu correo</ion-row>
      <ion-row class="body-email openMedium13">Te llegará un correo con un código 
        adjunto el cual debes de usar para cambiar tu contraseña</ion-row>
        <ion-row>
          <form [formGroup]="sendEmailForm" (ngSubmit)="submitForm()" class="input">
            <ion-label position="floating" class="medium12">Correo</ion-label>
            <ion-input type="email" formControlName="email" class="input-e openMedium15" placeholder="Correo electrónico">
              <ion-img class="email-icon" src="assets/img/correo.png"></ion-img>
            </ion-input>
            <div *ngIf="sendEmailForm.get('email').invalid && (sendEmailForm.get('email').dirty || sendEmailForm.get('email').touched)" class="error-message">
              <div *ngIf="sendEmailForm.get('email').hasError('required')" class="openItalic10">Ingrese un correo electrónico</div>
              <div *ngIf="sendEmailForm.get('email').hasError('pattern')" class="openItalic10">Ingrese un correo electrónico válido</div>
            </div>
            <div class="btn-div">
              <button class="green-button" type="submit" [disabled]="!sendEmailForm.valid" ><span class="medium12">Enviar</span></button>
            </div>            
          </form>
        </ion-row>
    </ion-grid>
    <ion-grid class="enter-password">
      <ion-row class="title-email medium12">Cambia tu contraseña</ion-row>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm2()">
        <div class="code1">
          <ion-input type="text" formControlName="token"  maxlength="6" class="input-e openMedium15" placeholder="Código">
          </ion-input>
          <div *ngIf="resetPasswordForm.get('token').invalid && (resetPasswordForm.get('token').dirty || resetPasswordForm.get('token').touched)" class="error-message">
            <div *ngIf="resetPasswordForm.get('token').hasError('required')" class="openItalic10">Ingrese el código</div>
            <div *ngIf="resetPasswordForm.get('token').hasError('pattern')" class="openItalic10">Código incorrecto</div>
          </div>
        </div>
        
        <div class="code2">
          <ion-input type="{{showPassword ? 'text' : 'password'}}" formControlName="password" minlength="4" class="input-e openMedium15" placeholder="Nueva contraseña"></ion-input>
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" (click)="togglePassword()" class="eye-ic"></ion-icon>
          <div *ngIf="resetPasswordForm.get('password').invalid && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)" class="error-message">
            <div *ngIf="resetPasswordForm.get('password').hasError('required')" class="openItalic10">Ingrese una contraseña</div>
            <div *ngIf="resetPasswordForm.get('password').hasError('minlength')" class="openItalic10">La contraseña debe contener mínimo 4 caracteres</div>
          </div>
        </div>
        <div class="change">
          <button class="green-button" type="submit" [disabled]="!resetPasswordForm.valid" ><span class="medium12">Cambiar</span></button>
        </div>
      </form>
    </ion-grid>
  </ion-grid>
</ion-content>
