<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-img class="logosepro" src="assets/img/logosepro.png"> </ion-img>
      <div class="line"></div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="main-c">
  <ion-grid class="main-grid" *ngIf="orderData">
    <ion-grid class="detail-head">
      <ion-row class="detail-name bold14">Solicitud de servicio</ion-row>
      <ion-row class="pictureGuard">
        <div class="cont-imgs">
          <ion-img src="assets/img/para_foto.png" class="frame"></ion-img>
          <ion-img class="back-img" [ngStyle]="{'background-image': 'url(' + photo + ')'}"> *ngIf="photo"></ion-img>
        </div>
      </ion-row>
    </ion-grid>
    <ion-grid class="detail-grid">
      <ion-grid class="detail-name-grid">
        <ion-row class="medium12 subline">{{leaderData.first_name}} {{leaderData.last_name}}</ion-row>
        <ion-row class="medium12 secu">{{orderName}}</ion-row>
      </ion-grid>
      <ion-grid class="detail-data-grid">
        <ion-grid class="amount-grid">
          <ion-row class="medium12 subline">Datos del servicio</ion-row>
          <ion-row class="medium12 amount-cont" *ngIf="total === 'pendiente'">Total: <span class="regular12">&nbsp;{{total}}</span></ion-row>
          <ng-container *ngIf="total !== 'pendiente'">
            <ion-row class="medium12 subt">Subtotal: <span class="regular12">&nbsp;{{subtotal}} dólares</span></ion-row>
            <ion-row class="medium12 dat">IVA: <span class="regular12">&nbsp;{{iva}} dólares</span></ion-row>
            <ion-row class="medium12 amount-cont">Total: <span class="regular12">&nbsp;{{total}} dólares</span></ion-row>
          </ng-container>
        </ion-grid>
        <ion-grid class="data-grid">
          <ion-row class="medium12 dat">Fecha de inicio: <span class="regular12">&nbsp;{{orderData.start_date}}</span></ion-row>
          <ion-row class="medium12 dat">Hora de inicio: <span class="regular12">&nbsp;{{orderData.start_time}}</span></ion-row>
          <ion-row class="medium12 dat" *ngIf="!requires_origin_and_destination">Fecha de finalización <span class="regular12">&nbsp;{{orderData.end_date}}</span></ion-row>
          <ion-row class="medium12 dat" *ngIf="!requires_origin_and_destination">Hora de finalización: <span class="regular12">&nbsp;{{orderData.end_time}}</span></ion-row>
          <ion-row class="medium12 dat" *ngIf="!requires_origin_and_destination">Duración: <span class="regular12">&nbsp;{{formattedDuration}}</span></ion-row>
          <ng-container *ngFor="let staff of orderData.staff; let i = index">
            <ion-row class="medium12 dat" *ngIf="orderData.staff_is_optional[i] && orderData.staff_selected[i]">{{staff}}: <span class="regular12">&nbsp;si</span></ion-row>
            <ion-row class="medium12 dat" *ngIf="orderData.staff_is_optional[i] && !orderData.staff_selected[i]">{{staff}}: <span class="regular12">&nbsp;no</span></ion-row>
          </ng-container>
          <ng-container *ngFor="let staff of orderData.staff; let i = index">
            <ion-row class="medium12 dat" *ngIf="orderData.staff_number_is_optional[i]">Cantidad de {{staff}}: <span class="regular12">&nbsp;{{orderData.staff_number[i]}}</span></ion-row>
          </ng-container>
          <ng-container *ngFor="let equipment of orderData.equipment; let i = index">
            <ion-row class="medium12 dat" *ngIf="orderData.equipment_is_optional[i] && orderData.equipment_selected[i]">{{equipment}}: <span class="regular12">&nbsp;si</span></ion-row>
            <ion-row class="medium12 dat" *ngIf="orderData.equipment_is_optional[i] && !orderData.equipment_selected[i]">{{equipment}}: <span class="regular12">&nbsp;no</span></ion-row>
          </ng-container>
          <ion-row class="medium12 dat" *ngIf="!requires_origin_and_destination"><button type="button" (click)="verUbicacion()" class="map-btn"><ion-img src="assets/img/mapa.png" class="map-img"></ion-img></button></ion-row>
          <ion-row class="medium12 dat" *ngIf="requires_origin_and_destination"><button type="button" (click)="dibujarRuta()" class="map-btn"><ion-img src="assets/img/mapa.png" class="map-img"></ion-img></button></ion-row>
        </ion-grid>
        <ion-grid class="amount-grid">
          <ion-row class="medium12 subline">Datos de facturación</ion-row>
          <ion-row class="medium12 subt">Nombre: <span class="regular12">&nbsp;{{first_name}}</span></ion-row>
          <ion-row class="medium12 dat">Apellido: <span class="regular12">&nbsp;{{last_name}}</span></ion-row>
          <ion-row class="medium12 dat">Correo: <span class="regular12">&nbsp;{{email}}</span></ion-row>
          <ion-row class="medium12 dat">Cédula: <span class="regular12">&nbsp;{{dni}}</span></ion-row>
          <ion-row class="medium12 dat">Dirección: <span class="regular12">&nbsp;{{address}}</span></ion-row>
          <ion-row class="medium12 dat">Teléfono: <span class="regular12">&nbsp;{{phone_number}}</span></ion-row>
        </ion-grid>
        <ion-grid class="amount-grid">
          <ion-row class="medium12 subline">Datos del empleado líder</ion-row>
          <ion-row class="medium12 subt">Nombre: <span class="regular12">&nbsp;{{leaderData.first_name}}</span></ion-row>
          <ion-row class="medium12 dat">Apellido: <span class="regular12">&nbsp;{{leaderData.last_name}}</span></ion-row>
          <ion-row class="medium12 dat">Correo: <span class="regular12">&nbsp;{{leaderData.email}}</span></ion-row>
          <ion-row class="medium12 dat">Cédula: <span class="regular12">&nbsp;{{leaderData.dni}}</span></ion-row>
          <ion-row class="medium12 dat">Teléfono: <span class="regular12">&nbsp;{{leaderData.phone_number}}</span></ion-row>
        </ion-grid>
        <ion-row class="dat-btng"><button class="red-button" (click)="goBackToOrder()"><span class="medium12">Cancelar</span></button></ion-row>
        <ion-row class="dat-btnr"><button class="green-button" (click)="paid()"><span class="medium12">Pagar</span></button></ion-row>
      </ion-grid>
    </ion-grid>
  </ion-grid>
</ion-content>