/* Estilos generales para ion-grid e ion-row */

ion-grid.main {
    height: 90%;
    margin: 1.2rem 0;
}

ion-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos específicos para cada clase de ion-row */
ion-row.header {
    justify-content: center;
    height: 10%;
}

ion-row.header span {
    width: 100%;
    position:absolute;
    background-color: #FFDDDD;
    height: 26px;
    top: 56px;
    z-index: -1;
}
ion-row.header ion-menu-button {
    position: absolute;
    left: 30px;
    top: 8px;
}

ion-row.header ion-menu-button ion-img{
    width: 30px;
}

ion-row.title ion-label {
    color:#bf1a24;
    font-size: 2rem;
    font-family:BebasBold;
}

ion-grid.content {
    margin-top: 1.2rem;
}

.card {
    width: 91%;
    //border: 2px solid #F2A9B0;
    height: 4.7rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.notification-row{
    margin-top: 1rem;
}

.buttons{
    align-items:center;
    display:flex;
    font-family:hp556;
    justify-content:space-around;
    width:100%;
 }


.card-body{
    height: 64%;
    padding-left: 3%;
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.card-body div:first-child {
    margin-right: 4.9%;
    //margin-left: 5px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-size: 0.9rem;
    width: 100%;
}

.radio-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.radio-btn ion-label{
    font-family: hp265;
    font-size: 0.8rem;
}

.card-type{
    font-family: hp556;
}

.card-content ion-label{
    font-family: hp265;
}

.logo{
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo ion-icon {
    width: 100%;
    height: 100%;
}

.delete-notification {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-body, .date-sended{
    color: #a7a7a7;
}

.date-sended{
    position: absolute;
    font-size: 0.7rem;
    right: 7%;
    top: 5%;
}

.thrash-icon{
    width: 20px;
    height: 20px;
}

ion-row.header div{
    left: 30px;
    position:absolute;
    top:10px;
}

ion-row.header div ion-img{
    height:2.3em;
    width:2.3em;
}

.noti-icon{
    color: #bf1a24;
}

.message-cont{
    width: 96%;
    height: 100%;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.title-cont{
    display: flex;
    justify-content: flex-start;
    margin-left: 0%;
}

.button-delete{
    font-family: hp556;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.delete-row{
    position: absolute;
    right: 7%;
}

.first{
    margin-top: 45px;
}