<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <div class="container-tab">
      <div class="first">
        <ion-tab-button tab="perfil" (click)="goToProfile()" class="tab-rojo">
          <ion-img class="icon" src="assets/img/icono1_botonera.png"></ion-img>
        </ion-tab-button>
      </div>
      
      <div class="first">
        <ion-tab-button tab="inicio" class="tab-gradiente">
          <ion-img class="icon" src="assets/img/icono2_botonera.png"></ion-img>
        </ion-tab-button>
      </div>
      
  
      <div class="first">
        <ion-tab-button tab="notificaciones" class="tab-negro">
          <ion-img class="icon" src="assets/img/icono3_botonera.png"></ion-img>
        </ion-tab-button>
      </div>
    </div>
   
    

    
  </ion-tab-bar>
</ion-tabs>
