<ion-content no-scroll padding class="background">
  <div class="tope">
    <div class="back-icon">
      <ion-img class="img-back" src="assets/img/retroceder.png" (click)="redirigirSignin()"></ion-img>
    </div>
    <div class="logosepro">
      <ion-img style="width: 150px; height: 150px;" src="assets/img/logosepro.png" class="img-logo"></ion-img>
    </div>
  </div>

  <div class="container">
    <!--<ion-img src="../../assets/img/app sepro vectores-07.png" style="max-width:100%;"></ion-img>-->
    <div class="rectangle"></div>
    <ion-text class="centered">REGISTRO</ion-text>
  </div>

  <div class="datosinput item-background-color">
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" validate>
      <ion-list class="datos">
        <div class="itemdatos">
          <ion-label>Nombre</ion-label>
          <ion-item lines="full">
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <div *ngIf="ionicForm.get('name').invalid && (ionicForm.get('name').dirty || ionicForm.get('name').touched)" class="error-message">
            <span class="error ion-padding" *ngIf="ionicForm.get('name').hasError('required')">Ingrese un nombre</span>
          </div>
        </div>

        <div class="itemdatos">
          <ion-label>Apellido</ion-label>
          <ion-item lines="full">
            <ion-input formControlName="lastname" type="text"></ion-input>
          </ion-item>
          <!--<span class="error ion-padding" *ngIf=" errorControl.lastname.errors?.required">
            Es necesario al menos un apellido.
          </span>-->
          <div *ngIf="ionicForm.get('lastname').invalid && (ionicForm.get('lastname').dirty || ionicForm.get('lastname').touched)" class="error-message">
            <span class="error ion-padding" *ngIf="ionicForm.get('lastname').hasError('required')">Ingrese un apellido</span>
          </div>
        </div>

        <div class="itemdatos">
          <ion-label>Correo electrónico</ion-label>
          <ion-item lines="full">

            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>
          <div *ngIf="ionicForm.get('email').invalid && (ionicForm.get('email').dirty || ionicForm.get('email').touched)" class="error-message">
            <span class="error ion-padding" *ngIf="ionicForm.get('email').hasError('required')">Ingrese un correo electrónico</span>
            <span class="error ion-padding" *ngIf="ionicForm.get('email').hasError('pattern')">Ingrese un correo eletrónico válido</span>
          </div>
        </div>

       <!-- <div class="itemdatos">
          <ion-item>
            <ion-label>Género</ion-label>
            <ion-select formControlName="f2_edudetail" placeholder="Escoja uno">
              <ion-select-option value="F">Femenino</ion-select-option>
              <ion-select-option value="M">Masculino</ion-select-option>
            </ion-select>
          </ion-item>
        </div>-->

        <div class="itemdatos">
          <ion-label>Teléfono móvil</ion-label>
          <ion-item lines="full">

            <ion-input formControlName="mobile"  type="tel " maxlength="10"></ion-input>
          </ion-item>
          <div *ngIf="ionicForm.get('mobile').invalid && (ionicForm.get('mobile').dirty || ionicForm.get('mobile').touched)" class="error-message">
            <span class="error ion-padding" *ngIf="ionicForm.get('mobile').hasError('required')">Ingrese un numero teléfono</span>
            <span class="error ion-padding" *ngIf="ionicForm.get('mobile').hasError('pattern')">Ingrese un número de teléfono válido </span>
          </div>

        </div>

        
        <div class="itemdatos">
          <ion-label>Cédula de identidad</ion-label>
          <ion-item lines="full">
            
            <ion-input  formControlName="cedula" type="text" maxlength="10" required ></ion-input>
          </ion-item>
          <div *ngIf="ionicForm.get('cedula').invalid && (ionicForm.get('cedula').dirty || ionicForm.get('cedula').touched)" class="error-message">
            <span class="error ion-padding" *ngIf="ionicForm.get('cedula').hasError('required')">Ingrese un numero de cédula</span>
            <span class="error ion-padding" *ngIf="ionicForm.get('cedula').hasError('pattern')">Ingrese un número de cédula válido </span>
          </div>
        </div>

       <!-- <div class="itemdatos">
          <ion-label>Fecha de nacimiento</ion-label>
          <ion-item lines="full">
            <ion-input formControlName="bday" type="text" placeholder="AAAA-MM-DD"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf=" errorControl.bday.errors?.required">
            Ingrese su fecha de nacimiento
          </span>
          <span class="error ion-padding" *ngIf=" errorControl.bday.errors?.pattern">
            Ingrese una fecha válida
          </span>
        </div>-->

        <div class="itemdatos">
          <ion-label >Contraseña</ion-label>
          <ion-item lines="full">
            <div class="eye-wrapper">
              <button class="btn-eye" type="button" (click)="togglePasswordClick()">
                <ion-icon [hidden]="showPassword" name="eye-off-outline"></ion-icon>
                <ion-icon [hidden]="!showPassword" name="eye-outline"></ion-icon>
              </button>
            </div>
            <ion-input type="{{showPassword ? 'text' : 'password'}}" formControlName="password"
            required> </ion-input>
            
          </ion-item>
          <div *ngIf="ionicForm.get('password').invalid && (ionicForm.get('password').dirty || ionicForm.get('password').touched)" class="error-message">
            <span class="error ion-padding" *ngIf="ionicForm.get('password').hasError('required')">Ingrese una contraseña</span>
            <span class="error ion-padding" *ngIf="ionicForm.get('password').hasError('minlength')">La contraseña debe contener mínimo 4 caracteres</span>
          </div>
        </div>

        <ion-row>
          <div class="botones">
            <ion-col>

              <button ion-button class="guardar">Registrarse</button>
            </ion-col>
          </div>
        </ion-row>


      </ion-list>
    </form>
    <ion-row>
      <div class="container-terminos">
        <ion-item>
          <ion-label class="terminos">He leído y acepto las <span>políticas de privacidad</span></ion-label>
          <ion-checkbox (click)="onClick()" [(ngModel)]="condiciones" color="primary" slot="start" item-right>
          </ion-checkbox>
        </ion-item>
      </div>
    </ion-row>
  </div>
</ion-content>