<ion-content>
<ion-grid class="main">
  <ion-row class="header">
    <span></span>
    <ion-img style="width: 160px;" src="assets/img/logosepro.png"></ion-img>
  </ion-row>
  <ion-grid class="content">
    <ion-row class="img-status">
      <ion-img src="assets/img/img-status.png"></ion-img>
    </ion-row>
    <ion-row class="title">
      <ion-label>SOLICITUD #1</ion-label>
      <ion-label><b>ESTADO: PENDIENTE</b></ion-label>
    </ion-row>
    <ion-row class="detail">
      <ion-label> Estamos procesando su
        solicitud, en unos minutos le
        enviaremos la confirmación
        para su servicio</ion-label>
    </ion-row>
    <ion-row class="cart-button">
      <button class="btn btn-success rounded-pill border-0" [routerLink]="'/carrito'">Ir al carrito de compras</button> 
    </ion-row>
  </ion-grid>
</ion-grid>
</ion-content>
