<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-img class="logosepro" src="assets/img/logosepro.png"> </ion-img>
      <div class="line"></div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid class="main">
  <ion-grid class="content">
    <ion-row class="bold16">Solicitud</ion-row>
    <ion-row class="img-status">
      <ion-img src="assets/img/solicitudes.png"></ion-img>
    </ion-row>
    
      <ion-grid class="req">
        <ion-row class="medium12 subline">Estado</ion-row>
        <ion-row class="medium12 secu">Pendiente</ion-row>
      </ion-grid>
    
    <ion-row class="detail">
      <div class="regular12"> 
        Estamos procesando su solicitud y le enviaremos la confirmación en breve. 
        Revise la información del servicio en el carrito de compras. Una vez aceptada, 
        tiene 2 horas para pagar o su solicitud será eliminada.
      </div>
      <button class="green-button" [routerLink]="'/tabs/inicio'"><span class="medium12">Volver al menú principal</span></button>
    </ion-row>
  </ion-grid>
</ion-grid>
</ion-content>
