<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-menu-button class="menu-btn">
        <ion-icon name="menu-outline" class="red-icon"></ion-icon>
      </ion-menu-button>
      <ion-img class="logosepro" src="assets/img/logosepro.png"> </ion-img>
      <div class="line"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-img src="assets/img/halcon.png" class="halcon"></ion-img>-->
  <ion-grid class="main-grid">
    
    <ion-grid class="welcome-grid">
      <ion-row class="welcome bold14">¡Bienvenido!</ion-row>
      <ion-row class="picture">
        <ion-img src="assets/img/para_foto.png" class="frame"></ion-img>
        <!--<ion-img src="assets/img/backcliente.png" class="back-img" *ngIf="!photo"></ion-img>-->
        <ion-img [src]="photo" class="back-img" *ngIf="photo"></ion-img>
      </ion-row>
    </ion-grid>
    
    <ion-grid class="service-grid">
      <ion-row class="select-s bold14">
        Elige el servicio que necesites
      </ion-row>
      <ng-container *ngFor="let service of servicesNamesList; let i = index">
        <ion-row class="service-card" [routerLink]="['servicio-detalle', service.id]">
          <div class="service-body">
            <div class="service-icon">
              <ion-img [src]="'assets/img/' + service.name + '.png'" class="service-img"></ion-img>
            </div>
            <div class="service-name bold14">
              {{service.name}}
            </div>
            <div class="continue">
              <ion-img *ngIf="i % 2 === 0" src="assets/img/seguir_rojo.png"></ion-img>
              <ion-img *ngIf="i % 2 === 1" src="assets/img/seguir_azul.png"></ion-img>
            </div>
          </div>
        </ion-row>
      </ng-container>
      
    </ion-grid>

  </ion-grid>
</ion-content>

