ion-grid.main-grid{
    //background-color: aquamarine;
    background-color: #EFEFEF;
    height: 100%;
    background-image: url("../../assets/img/halcon.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

ion-grid.welcome-grid{
    height: 30%;
}

ion-grid.service-grid{
    //background-color: gray;
    display: flex;
    align-items: center;
    //justify-content: center;
    flex-direction: column;
    height: 70%;
}

ion-row.welcome{
    //background-color: yellow;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ion-row.picture{
    position: relative;
    //background-color: blueviolet;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-img.frame{
    position: absolute;
    bottom: -10px;
    height: 125%;
    z-index: 100;
}


ion-img.back-img{
    
    height: 100%;
    mask-image: url(../../assets/img/corona_dentro.png);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    border: solid;
}

ion-row.select-s{
    //background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
}

ion-row.service-card {
    height: 18%;
    margin-bottom: 4%;
    width: 91%;
    border: 0.1px solid rgb(189, 189, 189);
    background-color: WHITE;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.service-body{
    display: flex;
    //justify-content:space-around;
    align-items: center;
    width: 100%;
}

.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;    
}

.service-img{
    //background-image: ;
    height: 50px;
    width: 50px;
}

.service-name{
    display: flex;
    align-items: center;
    width: 65%;
    height: 100%;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 0.7rem;
}

.continue{
    position: absolute;
    right: 35px;
}
.continue ion-img{
    width: 45px;
    height: 45px;
    
}

ion-img.halcon{
    position: absolute;
    bottom: 1px;
}