<ion-header>
  
</ion-header>

<ion-content class="fondo">
  <div class="front">
    <div class="titulo">
      <div class="header-container">
        <div class="regresar">
          <ion-img src="assets/img/retroceder.png" (click)="cancelar()"></ion-img>
        </div>
        <h1 *ngIf="serviceData">{{serviceData.name}}</h1>
        <h1 *ngIf="!serviceData"></h1>
      </div>
      <div class="logo">
        <ion-img style="width: 100px; height: 100px;" src="assets/img/guardialogo.png" *ngIf="serviceData"></ion-img>
      </div>
    </div>
    <div class="datos" *ngIf="serviceData">
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" validate>
        <ion-list class="dat">
          
          <div class="seleccion" id="open-modal">
            <ion-label>Fecha de Inicio</ion-label>
            <ion-item button="true" id="open-date-input" >
              <ion-label>{{dateValue | date: 'dd/MM/yyyy'}}</ion-label>
              <ion-icon name="calendar-clear-outline"  item-right></ion-icon>
              <ion-modal trigger="open-modal">
                
                <ion-popover trigger="open-date-input" show-backdrop="false">
                <ng-template>
                  <ion-content >
                    <ion-datetime formControlName="fechaInicio" [max]="maxFecha" [min]="minFecha" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" #popoverDatetime
                    presentation="date"
                    (ionChange)="dateValue =popoverDatetime.value">   
                    <div slot="title">     
                    </div>            
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-popover>
              </ion-modal>
              
            </ion-item>
            
            
          </div>
    
          <div class="seleccion" id="open-modal7" >
            <ion-label>Hora de Inicio</ion-label>
            <ion-item button="true" id="open-date-input7" >
              <ion-label>{{dateValue7 | date: 'hh:mma'}}</ion-label>
              <ion-icon name="time-outline" item-right></ion-icon>
              <ion-modal class="horaval" trigger="open-modal7"> 
                <ion-popover trigger="open-date-input7" show-backdrop="false">
                <ng-template>
                    <ion-datetime hour-cycle="h23" formControlName="horaInicio" displayFormat="hh:mma" presentation="time" #popoverDatetime
                    (ionChange)="dateValue7 =popoverDatetime.value"> 
                    </ion-datetime>
                </ng-template>
              </ion-popover>
              </ion-modal>
            </ion-item>
            
          </div>
        
          
          <div class="seleccion" id="open-modal8" *ngIf="staff_price_bool">
            <ion-label>Fecha de Finalización</ion-label>
            <ion-item button="true" id="open-date-input8" >
              <ion-label>{{dateValue8 | date: 'dd/MM/yyyy'}}</ion-label>
              <ion-icon name="calendar-clear-outline"  item-right></ion-icon>
              <ion-modal trigger="open-modal8">
                
                <ion-popover trigger="open-date-input8" show-backdrop="false">
                <ng-template>
                  <ion-content >
                    <ion-datetime formControlName="fechaFinalizacion" [max]="maxFecha" [min]="minFecha" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" #popoverDatetime
                    presentation="date"
                    (ionChange)="dateValue8 =popoverDatetime.value">   
                      <div slot="title">     
                      </div>
                      
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-popover>
              </ion-modal>
              
            </ion-item>
          </div>

          <div class="seleccion" id="open-modal9" *ngIf="staff_price_bool">
            <ion-label>Hora de Finalización</ion-label>
            <ion-item button="true" id="open-date-input9" >
              <ion-label>{{dateValue9 | date: 'hh:mma'}}</ion-label>
              <ion-icon name="time-outline" item-right></ion-icon>
              <ion-modal class="horaval" trigger="open-modal9"> 
                <ion-popover trigger="open-date-input9" show-backdrop="false">
                <ng-template>
                    <ion-datetime hour-cycle="h23" formControlName="horaFinalizacion" displayFormat="hh:mma" presentation="time" #popoverDatetime
                    (ionChange)="dateValue9 =popoverDatetime.value"> 
                    </ion-datetime>
                </ng-template>
              </ion-popover>
              </ion-modal>
            </ion-item>
          </div>

          <div *ngIf="serviceData.requires_origin_and_destination; else singleLocation" class="mapa">
            <ion-label>Ubicación origen</ion-label>
            <button type="button" class="btn btn-primary rounded-pill border-0" (click)="addDirection(0)">Abrir mapa</button>
          </div>
          <div *ngIf="serviceData.requires_origin_and_destination" class="mapa">
            <ion-label>Ubicación de destino</ion-label>
            <button type="button" class="btn btn-primary rounded-pill border-0"(click)="addDirection(1)">Abrir mapa</button>
          </div>
          <ng-template #singleLocation>
            <div class="mapa">
              <ion-label>Elegir ubicación</ion-label>
              <button type="button" class="btn btn-primary rounded-pill border-0" (click)="addDirection(0)">Abrir mapa</button>
            </div>
          </ng-template>
          

          <div *ngFor="let staff of serviceData.staff; let i = index">
            <div *ngIf="serviceData.staff_is_optional[i]" class="checks">
              <ion-checkbox></ion-checkbox>
              <ion-label>Incluir {{staff}}</ion-label>
            </div>
          </div>

          <div *ngFor="let staff of serviceData.staff; let i = index">
            <div class="cantidad-container" *ngIf="serviceData.staff_number_is_optional[i]">
              <ion-label class="label-num">Cantidad de {{staff}}</ion-label>
              <div class="cantidad">
                <ion-icon class="decremento" name="remove-circle-outline" (click)="decrement(1)"></ion-icon>
                <ion-label> {{currentNumber}}</ion-label>
                <ion-icon class="aumento" name="add-circle-outline" (click)="increment(1)"></ion-icon>
              </div>
            </div>
          </div>
          
          <div *ngFor="let equipment of serviceData.equipment let i = index">
            <div *ngIf="serviceData.equipment_is_optional[i]" class="checks">
              <ion-checkbox></ion-checkbox>
              <ion-label>Incluir {{equipment}}</ion-label>
            </div>
          </div>

          <div *ngFor="let equipment of serviceData.equipment; let i = index">
            <div class="cantidad-container" *ngIf="serviceData.equipment_number_is_optional[i]">
              <ion-label class="label-num">Cantidad de {{equipment}}</ion-label>
              <div class="cantidad">
                <ion-icon class="decremento" name="remove-circle-outline" (click)="decrement(2)"></ion-icon>
                <ion-label> {{currentNumber2}}</ion-label>
                <ion-icon class="aumento" name="add-circle-outline" (click)="increment(2)"></ion-icon>
              </div>
            </div>
          </div>
        </ion-list>
        <div class="botones">
          <button type="submit" class="btn btn-success rounded-pill border-0">Solicitar Servicio</button>  
      </div>
      </form>
    </div>
    <!--<div class="mapa">
      <ion-label>Elegir ubicación</ion-label>
      <button ion-button color="secondary" (click)="addDirection(0)">Abrir mapa</button>
       
    </div>-->
    
  </div>
  

</ion-content>
