<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-img class="back-arrow" src="assets/img/icono-para-atras.png" (click)="cancelar()"> </ion-img>
      <ion-img class="logosepro" src="assets/img/logosepro.png"> </ion-img>
      <div class="line"></div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="main-grid">
    <ion-grid class="service-head">
      <ion-row class="service-name bold14" *ngIf="serviceData">{{serviceData.name}}</ion-row>
      <ion-row class="service-name bold14" *ngIf="!serviceData"></ion-row>
      <ion-row class="picture">
        <ion-img style="width: 100px; height: 100px;" [src]="'assets/img/' + serviceData.name + ' red.png'" *ngIf="serviceData"></ion-img>
      </ion-row>
    </ion-grid>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" validate>
      <ion-grid class="info-grid" *ngIf="serviceData">
        <ion-grid class="input-data">

          <ion-row class="input">
            <div id="open-modal">
              <ion-label class="regular12">Fecha de Inicio</ion-label>
              <div button="true" id="open-date-input">
                <ion-label class="light12">{{dateValue | date: 'dd/MM/yyyy'}}</ion-label>
                <ion-icon name="calendar-clear-outline" class="calendar-icon"></ion-icon>
                <ion-modal trigger="open-modal">
                  <ion-popover trigger="open-date-input" show-backdrop="false">
                  <ng-template>
                    <ion-content >
                      <ion-datetime formControlName="fechaInicio" [max]="maxFecha" [min]="minFecha" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" #popoverDatetime
                      presentation="date"
                      (ionChange)="dateValue =popoverDatetime.value">   
                      <div slot="title">     
                      </div>            
                      </ion-datetime>
                    </ion-content>
                  </ng-template>
                </ion-popover>
                </ion-modal>
              </div>
            </div>
          </ion-row>

          <ion-row class="input">
            <div id="open-modal7" >
              <ion-label class="regular12">Hora de inicio</ion-label>
              <div button="true" id="open-date-input7" >
                <ion-label class="light12">{{dateValue7 | date: 'hh:mma'}}</ion-label>
                <ion-icon name="time-outline" class="calendar-icon"></ion-icon>
                <ion-modal class="horaval" trigger="open-modal7"> 
                  <ion-popover trigger="open-date-input7" show-backdrop="false">
                  <ng-template>
                      <ion-datetime hour-cycle="h23" formControlName="horaInicio" displayFormat="hh:mma" presentation="time" #popoverDatetime
                      (ionChange)="dateValue7 =popoverDatetime.value"> 
                      </ion-datetime>
                  </ng-template>
                </ion-popover>
                </ion-modal>
              </div>
            </div>
          </ion-row>

          <ion-row class="input" *ngIf="!requires_origin_and_destination">
            <div id="open-modal8">
              <ion-label class="regular12">Fecha de finalización</ion-label>
              <div button="true" id="open-date-input8" >
                <ion-label class="light12">{{dateValue8 | date: 'dd/MM/yyyy'}}</ion-label>
                <ion-icon name="calendar-clear-outline"  class="calendar-icon"></ion-icon>
                <ion-modal trigger="open-modal8">
                  <ion-popover trigger="open-date-input8" show-backdrop="false">
                  <ng-template>
                    <ion-content >
                      <ion-datetime formControlName="fechaFinalizacion" [max]="maxFecha" [min]="minFecha" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" #popoverDatetime
                      presentation="date"
                      (ionChange)="dateValue8 =popoverDatetime.value">   
                        <div slot="title">     
                        </div>
                      </ion-datetime>
                    </ion-content>
                  </ng-template>
                </ion-popover>
                </ion-modal>
              </div>
            </div>
          </ion-row>

          <ion-row class="input" *ngIf="!requires_origin_and_destination">
            <div id="open-modal9">
              <ion-label class="regular12">Hora de finalización</ion-label>
              <div button="true" id="open-date-input9" >
                <ion-label class="light12">{{dateValue9 | date: 'hh:mma'}}</ion-label>
                <ion-icon name="time-outline" class="calendar-icon"></ion-icon>
                <ion-modal class="horaval" trigger="open-modal9"> 
                  <ion-popover trigger="open-date-input9" show-backdrop="false">
                  <ng-template>
                      <ion-datetime hour-cycle="h23" formControlName="horaFinalizacion" displayFormat="hh:mma" presentation="time" #popoverDatetime
                      (ionChange)="dateValue9 =popoverDatetime.value"> 
                      </ion-datetime>
                  </ng-template>
                </ion-popover>
                </ion-modal>
              </div>
            </div>
          </ion-row>

          <ion-row class="map regular12" *ngIf="serviceData.requires_origin_and_destination;">
              <ion-label>Ubicación origen&nbsp;&nbsp;&nbsp;</ion-label>
              <button type="button" (click)="addDirection(0)" [disabled]="blockOrigen" class="map-btn"><ion-img src="assets/img/mapa.png" class="map-img"></ion-img></button>
          </ion-row>
          <ion-row class="map regular12" *ngIf="serviceData.requires_origin_and_destination">
              <ion-label>Ubicación destino&nbsp;&nbsp;&nbsp;</ion-label>
              <button type="button" (click)="addDirection(1)" [disabled]="blockDestino" class="map-btn"><ion-img src="assets/img/mapa.png" class="map-img"></ion-img></button>
          </ion-row>
          <ion-row class="map regular12" *ngIf="!serviceData.requires_origin_and_destination;">
              <ion-label>Elegir ubicación&nbsp;&nbsp;&nbsp;</ion-label>
              <button type="button" (click)="addDirection(0)" [disabled]="blockOrigen" class="map-btn"><ion-img src="assets/img/mapa.png" class="map-img"></ion-img></button>
          </ion-row>
          <ng-container *ngFor="let staff of serviceData.staff; let i = index">
            <ion-row class="checkb" *ngIf="serviceData.staff_is_optional[i]">
              <ion-checkbox (ionChange)="updateIncludeStaff($event)"></ion-checkbox>
              <ion-label class="light12">&nbsp;&nbsp;Incluir {{staff}}</ion-label>
            </ion-row>
          </ng-container>
          <ng-container *ngFor="let staff of serviceData.staff; let i = index">
            <ion-row class="spinner" *ngIf="serviceData.staff_number_is_optional[i]">
              <ion-label class="label-num regular12">Cantidad de {{staff}}&nbsp;&nbsp;&nbsp;</ion-label>
              <div class="cantidad">
                <ion-icon class="decremento" name="remove-circle-outline" (click)="decrement(1)"></ion-icon>
                <ion-label class="cnumber">&nbsp;{{currentNumber}}&nbsp;</ion-label>
                <ion-icon class="aumento" name="add-circle-outline" (click)="increment(1)"></ion-icon>
              </div>
            </ion-row>
          </ng-container>
          <ng-container *ngFor="let equipment of serviceData.equipment let i = index">
            <ion-row *ngIf="serviceData.equipment_is_optional[i]" class="checkb">
              <ion-checkbox (ionChange)="updateIncludeEquipment($event)"></ion-checkbox>
              <ion-label class="light12">&nbsp;&nbsp;Incluir {{equipment}}</ion-label>
            </ion-row>
          </ng-container>

          <button class="green-button"><span class="medium14">Solicitar servicio</span></button>
        </ion-grid>
      </ion-grid>
    </form>
  </ion-grid>
</ion-content>