ion-grid.main-grid {
    height: 100%;
  }
  
  ion-row.detail-name, ion-row.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-row.detail-name {
    height: 30%;
  }
  
  ion-row.picture {
    position: relative;
    height: 70%;
  }
  
  ion-grid.detail-head {
    height: 30%;
  }

  .bold14{
    font-size: 1rem;
  }

  ion-grid.detail-grid{
    width: 86%;
  }

  ion-grid.detail-name-grid{
    background-color: white;
    border: 0.1px solid rgb(189, 189, 189);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  ion-grid.detail-data-grid{
    background-color: white;
    border: 0.1px solid rgb(189, 189, 189);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    margin-top: 4%;
    margin-bottom: 4%;
  }

  ion-grid.amount-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2%;
  }

  ion-grid.data-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .map-btn{
    background-color :transparent ;
    box-shadow :none ;
 }

 .map-img{
    width :55px ;
 }

 .subline{
    padding: 4px 40px 4px 40px;
    border-bottom-style: solid;
    border-color: rgb(184, 0, 0);
 }

 .secu{
    padding-top: 6px;
    padding-bottom: 4px;
 }

 .amount-cont{
    margin-top: 8px;
    padding: 3px 12px;
    background-color: rgb(184, 0, 0);
    color: white;
    border-radius: 2px;
 }

 ion-row.dat{
    margin-top: 1%;
 }

 ion-row.dat-btng{
    margin-top: 2%;
 }

 ion-row.dat-btnr{
    margin-top: 3%;
 }

 ion-row.subt{
    margin-top: 1%;
    margin-top: 4px;
 }

 ion-row.pictureGuard{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .cont-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
    position: relative;
}

ion-img.back-img{
    width: 13.3vh;
    height: 99%;
    margin-top: 3%;
    margin-left: 2%;
    mask-image: url(../../assets/img/corona_dentro.png);
    mask-size: 100% 100%;
    background-position: center;
    background-size: 100% 100%;
}

ion-img.frame{
    bottom: -10px;
    width: 25vh;
    height: 125%;
    z-index: 100;
    position: absolute;
}
