<ion-content>
  <div>
    <ion-buttons slot="start">
        <ion-img src="assets/img/retroceder.png" [routerLink]="['/servicios-empresa/servicio-detalle', datosRecibidos.serviceID]"></ion-img>
    </ion-buttons>
    <div class="tope">
      <span>
      </span>
      <div class="logosepro">
        <ion-img style="width: 160px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
      </div>
    </div>
  </div>

  
  <div class="titulo">
    <ion-label>Solicitud de servicio</ion-label>
  </div>
  <div class="imagen">   
    <div class="logo">
      <ion-img  src="assets/img/perfilcliente.png"></ion-img>
    </div>
  </div>
  <div class="datos">
    
    <div class="datosPedido">
      
          <ion-label class="negrita ">Servicio:</ion-label>
          <ion-label> {{datosRecibidos.serviceName}}</ion-label>
        
          <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
          <ion-label> {{datosRecibidos.startDate}}</ion-label>

          <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
          <ion-label> {{datosRecibidos.startTime}}</ion-label>

          <ng-container  *ngIf="!datosRecibidos.requiresDestination">
            <ion-label class="negrita "> <br/>Fecha de Finalización: </ion-label>
            <ion-label> {{datosRecibidos.endDate}}</ion-label>
          </ng-container>
          
          <ng-container  *ngIf="!datosRecibidos.requiresDestination">
            <ion-label class="negrita "> <br/>Hora de Finalización: </ion-label>
            <ion-label> {{datosRecibidos.endTime}}</ion-label>
          </ng-container>

          <ng-container  *ngIf="!datosRecibidos.requiresDestination">
            <ion-label class="negrita "> <br/>Duración: </ion-label>
            <ion-label> {{formattedDuration}} </ion-label>
          </ng-container>

          <!--<ion-label class="negrita "> <br/>Lugar origen: </ion-label>
          <ion-label> {{datosRecibidos.dirOrigin}}</ion-label>

          <ng-container  *ngIf="datosRecibidos.requiresDestination">
            <ion-label class="negrita "> <br/>Lugar destino: </ion-label>
            <ion-label> {{datosRecibidos.dirDestination}}</ion-label>
          </ng-container>-->

          <ng-container *ngFor="let staff of datosRecibidos.staff; let i = index">
            <ng-container *ngIf="datosRecibidos.staffIsOptional[i] && datosRecibidos.staffSelected[i]">
              <ion-label class="negrita"> <br/> {{staff}}:</ion-label>
              <ion-label> si</ion-label>
            </ng-container>
            <ng-container *ngIf="datosRecibidos.staffIsOptional[i] && !datosRecibidos.staffSelected[i]">
              <ion-label class="negrita"> <br/> {{staff}}:</ion-label>
              <ion-label> no</ion-label>
            </ng-container>
          </ng-container>

          <ng-container *ngFor="let staff of datosRecibidos.staff; let i = index">
            <ng-container *ngIf="datosRecibidos.staffNumberOptional[i]">
              <ion-label class="negrita"> <br/> cantidad de {{staff}}:</ion-label>
              <ion-label> {{datosRecibidos.staffNumberRequired[i]}} </ion-label>
            </ng-container>
          </ng-container>

          <ng-container *ngFor="let equipment of datosRecibidos.equipment; let i = index">
            <ng-container *ngIf="datosRecibidos.equipmentIsOptional[i] && datosRecibidos.equipmentSelected[i]">
              <ion-label class="negrita"> <br/> {{equipment}}:</ion-label>
              <ion-label> si</ion-label>
            </ng-container>
            <ng-container *ngIf="datosRecibidos.equipmentIsOptional[i] && !datosRecibidos.equipmentSelected[i]">
              <ion-label class="negrita"> <br/> {{equipment}}:</ion-label>
              <ion-label> no</ion-label>
            </ng-container>
          </ng-container>

          <ng-container *ngFor="let equipment of datosRecibidos.equipment; let i = index">
            <ng-container *ngIf="datosRecibidos.equipmentNumberOptional[i]">
              <ion-label class="negrita"> <br/> cantidad de {{equipment}}:</ion-label>
              <ion-label> {{datosRecibidos.equipmentNumberRequired[i]}} </ion-label>
            </ng-container>
          </ng-container>

          <ion-label class="negrita "> <br/>Monto: </ion-label>
          <ng-container *ngIf="total === 'pendiente'">
            <ion-label> {{total}} </ion-label>
          </ng-container>
          <ng-container *ngIf="total !== 'pendiente'">
            <ion-label> {{total}} dólares </ion-label>
          </ng-container>

          <ng-container *ngIf="datosRecibidos.requiresDestination">
            <br/>
            <button class="btn btn-primary rounded-pill border-0 ver-ruta" (click)="dibujarRuta()">Ver ruta</button> 
          </ng-container>
          <ng-container *ngIf="!datosRecibidos.requiresDestination">
            <br/>
            <button class="btn btn-primary rounded-pill border-0 ver-ruta" (click)="verUbicacion()">Ver ubicación</button> 
          </ng-container>
      
    </div>
  </div>
  
  <div class="metodo-pago">
    <ion-label > Elegir metodo de pago</ion-label>
    <ion-select [(ngModel)]="value" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="tarjeta">TARJETA CREDITO/DEBITO</ion-select-option>
      <ion-select-option value="efectivo">EFECTIVO</ion-select-option>
    </ion-select>
    
  </div>
  <div class="botones">
    <div class="cancelar-servicio">
      <button class="btn btn-danger rounded-pill border-0" [routerLink]="['/servicios-empresa/servicio-detalle', datosRecibidos.serviceID]">Cancelar</button>
    </div>
    <div class="confirmar-servicio">
      <button class="btn btn-success rounded-pill border-0" (click)="sendOrder()">Confirmar</button> 
    </div>
    
  </div>
  

</ion-content>
